# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.CindyPro.iml
# Datasource local storage ignored files
/../../../../../../../:\gitHubPro\Cindypro\CindyPro\.idea\.idea.CindyPro\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
